################################################################################
# Auth0 Test Account
################################################################################
AUTH0_SECRET='XXXXXXXXXXXX'
AUTH0_CLIENT_ID='XXXXXXXXX'
AUTH0_CLIENT_SECRET='XXXXXXXXXX'
AUTH0_DOMAIN='xxx-xxxxxxxxx.xx.auth0.com'
APP_BASE_URL='http://localhost:3000'
